.AboutServiceContainer {
  width: 100%;
}

.AboutServiceWrapper {
  width: 93%;
  margin: 0 auto;
}

.servicesCard {
  display: flex;
  flex-direction: row;
  /* gap: 3rem; */
  justify-content: space-between;
  width: 100%;
  margin-top: 8rem;
}

.cardOne {
  background: #1e3232;
  width: 30%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.number {
  color: #fff;
  font-family: "Poppins", serif;
  margin-bottom: 20rem;
}

.cardOne h2,
.cardTwo h2 {
  font-family: "Poppins", serif;
  font-size: 1.5rem;
  color: #fff;
}

.cardOne p,
.cardTwo p {
  font-family: "Poppins", serif;
  font-size: 0.868rem;
  color: #fff;
  margin-top: 10px;
}

.cardTwo {
  background: #069f7d;
  width: 30%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.cardThree {
  background: #f3f1ea;
  width: 30%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.cardThree > .number {
  color: #000;
}

.cardThree h2 {
  font-size: 1.4rem;
  font-family: "Poppins", serif;
}

.cardThree p {
  font-family: "Poppins", serif;
  font-size: 0.868rem;
  margin-top: 10px;
}
