.headerContainer {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: url("../../Images/hero.jpg") no-repeat center center/cover;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

.headerContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(56, 56, 56); /* Black overlay */
  opacity: 0.5; /* Adjust opacity for visibility */
  z-index: 1;
}

.headerContainer * {
  position: relative;
  z-index: 2;
}

/* Remove background image and change background for About Page */
.aboutPage {
  background: none;
  background-color: #fff;
  height: auto;
}

/* Remove background image and change background for Contact Page */
.contactPage {
  background: none;
  background-color: #f5f5f5;
  height: auto;
}

/* Header Wrapper */
.headerWraper {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-blend-mode: darken;
  /* padding-top: 8rem; */
}

/* Sticky Header Bar */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  padding: 25px 50px;
  width: 100%;
  background: rgba(128, 108, 108, 0.3);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
}

.header h1 {
  color: #fff;
  font-family: "Poppins", serif;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  font-family: "Poppins", serif;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.headerBtn button {
  cursor: pointer;
  background: #1e3232;
}

.headerBtn button:hover {
  background: #069f7d;
}

/* Homepage Hero Section */
.heroContent {
  width: 73%;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 15rem;
  height: 100vh;
}

.heroContent h2 {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
  margin-bottom: 1rem;
}

.heroText {
  width: 80%;
  font-family: "Poppins", serif;
  font-size: 1.2rem;
  line-height: 1.8;
  color: #fff;
}

/* Hero Button (Homepage) */
.heroButton {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  position: relative;
  border-bottom: 2px solid #069f7d;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out,
    color 0.3s ease-in-out;
  border-radius: 4px;
  margin-top: 25px;
  font-family: "Poppins", serif;
}

.heroButton:hover {
  background: #069f7d;
  color: white;
  border-bottom: none;
  transform: translateY(-5px);
}

/* About Page Hero Section Styling */
.aboutHero {
  width: 100%;
  padding: 2rem;
  padding-top: 15rem;
  padding-bottom: 4rem;
  padding-left: 70px;
  background-color: #fff;
}

.aboutHero h2 {
  font-family: "Poppins", serif;
  font-size: 3rem;
  color: #333;
}

.aboutHero p {
  font-family: "Poppins", serif;
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  margin-top: 5px;
  width: 70%;
  line-height: 1.4;
}

/* Contact Page Hero Section */
.contactHero {
  width: 100%;
  padding: 2rem;
  padding-top: 12rem;
  padding-bottom: 4rem;
  padding-left: 8rem;
  background-color: #f7f7f7;
}

.contactHero h2 {
  font-family: "Poppins", serif;
  font-size: 7rem;
  font-weight: 500;
  color: #000;
}

.contactHero p {
  font-family: "Poppins", serif;
  font-size: 1rem;
  color: #000;
  max-width: 800px;
  /* margin: 0 auto; */
  line-height: 1.6;
}

.pee {
  margin-top: 2rem;
}
