.servicesContainer {
  margin-top: 12rem;
  margin-bottom: 5rem;
  width: 100%;
}

.servicesWrapper {
  margin: 0 auto;
  width: 92%;
}

.servicesWrapper h2 {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 3rem;
  width: 90%;
}

.servicesCard {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: 100%;
  margin-top: 8rem;
}

.cardOne {
  background-image: ;
  background: #1e3232;
  width: 30%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.number {
  color: #fff;
  font-family: "Poppins", serif;
  margin-bottom: 20rem;
}

.cardOne h2,
.cardTwo h2 {
  font-family: "Poppins", serif;
  font-size: 1.5rem;
  color: #fff;
}

.cardOne p,
.cardTwo p {
  font-family: "Poppins", serif;
  font-size: 0.868rem;
  color: #fff;
  margin-top: 10px;
}

.cardTwo {
  background: #069f7d;
  width: 30%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.cardThree {
  background: #f3f1ea;
  width: 30%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.cardThree > .number {
  color: #000;
}

.cardThree h2 {
  font-size: 1.4rem;
  font-family: "Poppins", serif;
}

.cardThree p {
  font-family: "Poppins", serif;
  font-size: 0.868rem;
  margin-top: 10px;
}

.cardOne,
.cardTwo,
.cardThree {
  position: relative;
  width: 30%;
  padding: 40px 20px;
  cursor: pointer;
  transition: background 0.5s ease-in-out, opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out, filter 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cardOne:hover,
.cardTwo:hover,
.cardThree:hover {
  transform: scale(1.02); /* Slight zoom effect */
  filter: brightness(1.1); /* Slight brightness increase */
}

.cardOne:hover {
  background-image: url("../../../../Images/hydro.webp");
  background-color: #1e3232;
  background-blend-mode: multiply;
  opacity: 0.9;
  transform: scale(1.02); /* Slight zoom effect */
  filter: brightness(1.1);
}

.cardTwo:hover {
  background-image: url("../../../../Images/hydro.webp");
  background-color: #069f7d;
  background-blend-mode: multiply;
  opacity: 0.9;
}

.cardThree:hover {
  background-image: url("../../../../Images/hydro.webp");
  background-color: #f3f1ea;
  background-blend-mode: multiply;
  opacity: 0.9;
  color: #fff;
}
