.smartContainer {
  width: 100%;
  border-top: 1px solid #ccc;
}

.smartWrapper {
  display: flex;
  flex-direction: row;
  /* gap: 1rem; */
}

button {
  background-color: green;
  padding: 10px 30px;
  color: #fff;
  border: none;
  font-family: "Poppins", serif;
  border-radius: 6px;
}

.smartText {
  margin-top: 2.5rem;
  padding-left: 60px;
  width: 50%;
}

.smartText h2 {
  margin-top: 9rem;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 2rem;
}

.smartText p {
  margin-top: 20px;
  font-family: "Poppins", serif;
  font-size: 1rem;
}

.heroButton {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  position: relative;
  border-bottom: 2px solid black;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out,
    color 0.3s ease-in-out;
  border-radius: 4px;
  margin-top: 5rem;
  font-family: "Poppins", serif;
}

.heroButton:hover {
  background: black;
  color: white;
  border-bottom: none;
  transform: translateY(-5px);
}

.smartImage {
  width: 50%;
}

.smartImage img {
  width: 100%;
}
